h1 {text-align: center;
    color: #ff686b;
font-weight: 400;
text-decoration: #ff686b underline;
font-size: 80px;
font-family: Arial, Helvetica, sans-serif;}
body > a {text-decoration: none;}
h2 {background-color:#ffffff;
color: #84dcc6;}
p { padding: 20px;
    margin: 5px 0;
font-size: 14px;
letter-spacing: 1px;
word-spacing: 2px;
line-height: 20px;}
body {background-color: #a5ffd6;}
#btn  {background-color: #ffffff;
color: #ff686b;}
span {background-color:#ffffff;
    color:#ff686b ;
font-weight: bold;}
.huh {font-family: 'Lucida Sans', 'Lucida Sans Regular';
font-size: 18px;}
ul a {color: red;}
footer > a {font-size: 20px;}
input[type="password"] {color: royalblue;}
a[href*="fghjfj"] {font-family: fantasy;}
h2::first-letter {font-size: larger;}
p::first-line {color: rgb(250, 0, 167);}
p::selection {background-color: darkgreen;
    color: darkgoldenrod;}
    ::selection {background-color: rgb(105, 153, 16);}